*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main
{
    display: grid;
    grid-template-areas: "h h h h h h h"
                         "n n n n n n n"
                         "a a a a as as as"
                         "f f f f f f f";
}

header
{
    grid-area: h;
}

nav
{
    grid-area: n;
}

article
{
    grid-area: a;
}

aside
{
    grid-area: as;
}

footer
{
    grid-area: f;
}